body {
  display: flex;
  justify-content: center;
  color: white;
  /* Christmas Gradient */
  background: #2F7336;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #AA3A38, #2F7336);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #AA3A38, #2F7336); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

ul {
  list-style-type: none;
}

.modal {
  color: black;
}

.center {
  display: flex;
  justify-content: center;
}

.title {
  font-size: 3.4em;
  margin-top: 0.4em !important;
  text-align: center;
}

.start-game {
  background-color: green !important;
  color: white !important;
}

.word {
  font-size: 3em;
  padding-top: 1em;
}

.guesses {
  font-size: 3em;
  padding: .5em;
  flex-wrap: wrap;
}

/* Button spacing */
.guesses .ui.circular.button {
  margin: 4px 4px;
  color: white;
  background-color: green;
}

.guesses .ui.circular.button:disabled {
  background-color: #d80000;
}

.btm {
  padding: 2em;
}

.placeholder-container {
  font-size: 4em;
  padding-top: .5em;
  padding-bottom: .5em;
  margin: auto;
}

.placeholder {
  padding-left: .1em;
  padding-right: .1em;
}

.input {
  margin-left: 2em;
}

.playBtn {
  height: 3em;
  width: 4em;
  padding: 0 !important;
  text-align: center !important;
  margin-top: 3em !important;
  margin-left: 2em !important;
}
